.post-list {
    margin: 0;
    border-radius: 4px;
    overflow: hidden;
}

.post-list > li {
    margin: 0;
}

.post-list > li:not(:last-child) {
    border-bottom: 1px solid #D3E0E9;
}

.post-list > li > .post {
    cursor: pointer;
    padding: 10px 15px;
}

.post-list > li > .post:hover {
    background-color: #F5F5F5;
}

.post .post-header > a.author {
    text-decoration: none;
}

.post .post-header > a.author:hover > .full-name {
    text-decoration: underline;
}

.post .post-header .time::before {
    content: "\2014";
}

.post .post-body {

}

.post .post-footer {
    margin-top: 10px;
}

.action-list a.action {
    padding: 5px;
    display: block;
    font-weight: bold;
    text-decoration: none;
    line-height: 14px;
}

.action-list a.action > i.fa {
    margin-right: 5px;
}

.action-list li.disabled .action {
    color: #CCC;
}

.action-list li:not(.disabled) .action.action-like.active,
.action-list li:not(.disabled) .action.action-like:hover {
    color: #08AD93;
}

.action-list li:not(.disabled) .action.action-dislike.active,
.action-list li:not(.disabled) .action.action-dislike:hover {
    color: #e81c4f;
}

.action-list .action.action-comment.active,
.action-list .action.action-comment:hover {
    color: #FF6631;
}

.action-list li:not(.disabled)  .action.action-flag.active,
.action-list li:not(.disabled)  .action.action-flag:hover {
    color: #AD441A;
}

.empty-feed {
    padding: 15px;
}