.post-view-footer {
    padding: 5px;
    height: 20px;
    width: auto;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

hr.double {
    border-top: 3px double #8c8b8b;
}

.thread .action.action-like.active,
.thread .action.action-like:hover {
    color: #08AD93;
}

.thread .action.action-dislike.active,
.thread .action.action-dislike:hover {
    color: #e81c4f;
}