.notification-list > li {
    margin: 0;
}

.notification-list > li:not(:last-child) {
    border-bottom: 1px solid #D3E0E9;
}

.notification-list > li > .notification {
    cursor: pointer;
    padding: 10px 15px;
}

.notification-list > li > .notification:hover {
    background-color: #F5F5F5;
}

.notification-footer {
    height:20px;
    width:auto;
}

/*.notification-footer > li > a >*/