#lightbox-modal .modal-dialog {
    margin: 0;
    top: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    bottom: 20px;
    height: auto;
    position: absolute;
}

#lightbox-modal .modal-dialog .modal-content,
#lightbox-modal .modal-dialog .modal-content .modal-body {
    width: 100%;
    height: 100%;
    position: absolute;
}

#lightbox-modal .modal-dialog .modal-content {
    margin: 0;
    border-radius: 0;
}

#lightbox-modal .modal-dialog .modal-content .modal-body .img,
#lightbox-modal .modal-dialog .modal-content .modal-body .modal-controls {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    position: absolute;
}

#lightbox-modal .modal-dialog .modal-content .modal-body .img {
    background: no-repeat center;
    background-size: contain;
}

.scroll-left {;
    left: 0;
}

.scroll-right {
    position: relative;
    font-size: 20pt;
    right: 0;
}

.im-arrow {
    top: 50%;
    color: #000000;
    font-size: 20pt;
    margin-top: -14px;
    position: absolute;
}

.im-arrow:link {
    opacity: 0.3;
}

.im-arrow:hover,
.im-arrow:active,
.imarrow:focus {
    opacity: 1;
}