body {
    padding-top: 50px;
}

.profile-header {
    background: #FFF;
    margin-bottom: 20px;
    border-bottom: 1px solid #D3E0E9;
}

.profile-header .profile-cover {
    height: 320px;
    background-size: cover;
    background: #FFF no-repeat center;
    border-bottom: 1px solid #D3E0E9;
}

.profile-header .profile-photo-container {
    height: 44px;
    position: relative;
}

.profile-header .profile-photo {
    display: block;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
    background: #FFF;
    position: absolute;
    bottom: 10px;
    border: 1px solid #D3E0E9;
}

.profile-header .profile-photo img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.profile-header .profile-nav .nav-tabs {
    border: none;
}

.profile-header .profile-nav .nav-tabs > li {
    margin: 0;
}

.profile-header .profile-nav .nav-tabs > li > a,
.profile-header .profile-nav .nav-tabs > li > a:focus,
.profile-header .profile-nav .nav-tabs > li > a:hover,
.profile-header .profile-nav .nav-tabs > .active > a,
.profile-header .profile-nav .nav-tabs > .active > a:focus,
.profile-header .profile-nav .nav-tabs > .active > a:hover {
    border: none;
    padding: 12px 15px;
}

.profile-header .profile-nav .nav-tabs > li > a {
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.profile-header .profile-nav .nav-tabs > li > a:focus,
.profile-header .profile-nav .nav-tabs > li > a:hover,
.profile-header .profile-nav .nav-tabs > .active > a,
.profile-header .profile-nav .nav-tabs > .active > a:focus,
.profile-header .profile-nav .nav-tabs > .active > a:hover {
    color: #777;
    padding-bottom: 8px;
    background-color: #FFF;
    border-bottom: 4px solid #FF6631;
}

.profile-header .profile-nav .nav-tabs > li > a:focus,
.profile-header .profile-nav .nav-tabs > li > a:hover,
.profile-header .profile-nav .nav-tabs > .active > a:focus,
.profile-header .profile-nav .nav-tabs > .active > a:hover {
    color: #FF6631;
}

.profile-header .profile-nav .nav-tabs > li > a > .nav-label,
.profile-header .profile-nav .nav-tabs > li > a > .nav-value {
    display: block;
}

.profile-header .profile-nav .nav-tabs > li > a > .nav-value {
    font-size: 18px;
    font-weight: 600;
    margin-top: 3px;
    text-align: center;
}

.btn-upload > i {
    color: #000000;
    font-size: 20pt;
    position: relative;
    left:165px;
}

.btn-upload:hover > i,
.btn-upload:focus > i{
    color: #FF6631;
}

.btn-upload {
    visibility: hidden;
}

#imgupload {
    visibility: hidden;
}