/*
 * Colors
 */
.color.light {
    color: #999;
}

.color.dark {
    color: #333;
}

/*
 * Buttons
 */
.btn-orange {
    color: #FF6631;
    background-color: #FFF;
    border: 1px solid #FF6631;
}

.btn-orange:hover {
    color: #FFF;
    background-color: #FF6631;
}

/*
 * Globals
 */
#app .avatar {
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

#app .full-name {
    color: #333;
    font-weight: bold;
}

#app .username {
    color: #999;
    font-size: 13px;
}

#app .hash-tag,
#app .mention-username {
    color: #FF6631;
}

/*
 * Posts
 */
.post-list > li {
    margin: 0;
}

.post-list > li:not(:last-child) {
    border-bottom: 1px solid #D3E0E9;
}

.post-list > li > .post {
    cursor: pointer;
    padding: 10px 15px;
}

.post-list > li > .post:hover {
    background-color: #F5F5F5;
}

.post .post-header > a.author {
    text-decoration: none;
}

.post .post-header > a.author:hover > .full-name {
    text-decoration: underline;
}

.post .post-header .time::before {
    content: "\2014";
}

.post .post-body {

}

.post .post-footer {
    margin-top: 10px;
}

.post .action-list a.action {
    padding: 5px;
    display: block;
    font-weight: bold;
    text-decoration: none;
    line-height: 14px;
}

.post .action-list a.action > i.fa {
    margin-right: 5px;
}

.post .action.action-like.active,
.post .action.action-like:hover {
    color: #08AD93;
}

.post .action.action-dislike.active,
.post .action.action-dislike:hover {
    color: #e81c4f;
}

.post .action.action-comment.active,
.post .action.action-comment:hover {
    color: #FF6631;
}

.post .action.action-flag.active,
.post .action.action-flag:hover {
    color: #AD441A;
}