/*
 * Colors
 */
.color.light {
    color: #999;
}

.color.dark {
    color: #333;
}

/*
 * Buttons
 */
.btn-orange {
    color: #FF6631;
    background-color: #FFF;
    border: 1px solid #FF6631;
}

.btn-orange:hover {
    color: #FFF;
    background-color: #FF6631;
}

/*
 * Globals
 */
#app .avatar {
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

#app .full-name {
    color: #333;
    font-weight: bold;
}

#app .username {
    color: #999;
    font-size: 13px;
}

#app .hash-tag,
#app .mention-username {
    color: #FF6631;
}