/*
 * Header & Navigation
 */
.navbar {
    margin-bottom: 0;
}

.navbar-default {
    border-bottom: none;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
}

@media (min-width: 768px) {
    .navbar-default .navbar-header {
        left: 50%;
        width: 54px;
        margin-left: -27px;
        position: absolute;
    }

    .navbar-default .navbar-header .navbar-brand {
        display: block;
        margin-left: 0;
    }
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: #FF6631;
    padding: 10px 15px;
}

.navbar-nav > li > a {
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #777;
    padding-bottom: 10px;
    background-color: #FFF;
    border-bottom: 4px solid #FF6631;
}

.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #FF6631;
}

.navbar-nav > li > a > i.fa {
    float: left;
    font-size: 20px;
    margin-right: 5px;
}

.navbar-default .navbar-nav > li.profile-menu > a,
.navbar-default .navbar-nav > .open.profile-menu > a,
.navbar-default .navbar-nav > .open.profile-menu > a:focus,
.navbar-default .navbar-nav > .open.profile-menu > a:hover,
.navbar-default .navbar-nav > li.profile-menu > a:focus,
.navbar-default .navbar-nav > li.profile-menu > a:hover,
.navbar-default .navbar-nav > .active.profile-menu > a,
.navbar-default .navbar-nav > .active.profile-menu > a:focus,
.navbar-default .navbar-nav > .active.profile-menu > a:hover {
    width: 38px;
    height: 38px;
    padding: 0;
    margin: 6px 15px;
    display: block;
    border: none;
    background: #FFF;
}

.navbar-default .navbar-nav > li.profile-menu > a > img {
    background: #F5F5F5;
    border: 1px solid #EEE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.navbar-default .navbar-nav .dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 24px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    content: '';
}

.navbar-default .navbar-nav  .dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 25px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.navbar-nav > li > a > .badge {
    background-color: #d9534f;
}

.footer {
    padding: 15px 0 5px;
    background: #FFF;
    border-top: 1px solid #d3e0e9;
}

.footer-fixed-bottom {
    bottom: 0;
    width: 100%;
    position: absolute;
}