/*
 * Widget
 */
.widget {

}

.widget-body {
    position: relative;
}

/*
 * User
 */
.profile-photo {
    width: 48px;
    height: 48px;
    border-radius: 4px;
}

/*
 * Posts
 */
.post-list > li {
    margin: 0;
    padding: 15px;
}

.post-list > li:not(:last-child) {
    border-bottom: 1px solid #D3E0E9;
}