.recommendation:not(:first-child) {
    padding-top: 10px;
}

.recommendation:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

.overflow {
    width: 80%;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.action-list li:not(.disabled) .action.action-accept.active,
.action-list li:not(.disabled) .action.action-accept:hover {
    color: #08AD93;
}

.action-list li:not(.disabled) .action.action-reject.active,
.action-list li:not(.disabled) .action.action-reject:hover {
    color: #e81c4f;
}
