body {
    padding-top: 50px;
}

.nav-stacked a.active,
.nav-stacked a:hover,
.nav-stacked a:focus {
    color: #FF6631;
}

.discover-header {
    background: #FF6631;
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #D3E0E9;
    height: 100px;
    color: #FFFFFF;
    font-size: 20pt;
    line-height: 70px;
}

.discover-header a.btn-subscribe {
    color: #FF6631;
    background-color: #FFFFFF;
    border-color: #d3e0e9;
    margin: 17px;
    position: absolute;
    right: 15px;
}

.discover-header a.btn-manage {
    color: #FF6631;
    background-color: #FFFFFF;
    border-color: #d3e0e9;
    margin: 17px 0;
    position: absolute;
    right: 15px;
}

.discover-header a:focus,
.discover-header a:hover {
    background-color: #eee;
}

.list-subscription {
    margin: 0px;
    padding: 0px;
}

.item-subscription {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.item-subscription:hover {
    background-color: #eee;
}

a.btn-unsubscribe {
    color: #FFFFFF;
    position: relative;
    top: -8px;
    padding: 7px;
    border-radius: 4px;
    float: right;
    background-color: #FF6631;
}

a.btn-unsubscribe:hover,
a.btn-unsubscribe:focus,
a.btn-unsubscribe:active {
    color: #FF6631;
    background-color: #FFFFFF;
    border: 1px solid #FF6631;
    text-decoration: none;
}