body {
    padding-top: 51px;
}

.nav-stacked a.active,
.nav-stacked a:hover,
.nav-stacked a:focus {
    color: #FF6631;
}

.discover-header {
    background: #FF6631;
    margin-bottom: 20px;
    border-bottom: 1px solid #D3E0E9;
    height: 70px;
    text-align: center;
    color: #FFFFFF;
    font-size: 20pt;
    line-height: 70px;
}

.subscribe {
    position:relative;
    top: -67px;
    text-align: right;
    height:0px;
    padding-right:35px;
}

a.btn-subscribe {
    color: #FF6631;
    background-color: #FFFFFF;
    padding:10px;
    border-radius:4px;
    font-size:12pt;
}

a.btn-subscribe:focus,
a.btn-subscribe:hover {
    background-color: #eee;
    text-decoration:none;
}